<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module xmlns="urn:jboss:module:1.9" name="io.github.a2asdk.transport.rest">

    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${io.github.a2asdk:a2a-java-sdk-transport-rest}"/>
    </resources>

    <dependencies>
        <module name="java.logging"/>
        <module name="jakarta.enterprise.api"/>
        <module name="jakarta.inject.api"/>
        <module name="jakarta.ws.rs.api"/>
        <module name="jakarta.servlet.api"/>

        <module name="com.google.code.gson"/>
        <module name="com.google.guava"/>
        <module name="com.google.protobuf"/>
        <module name="io.github.a2asdk.common"/>
        <module name="io.github.a2asdk.jsonrpc-common"/>
        <module name="io.github.a2asdk.server-common"/>
        <module name="io.github.a2asdk.spec"/>
        <module name="io.github.a2asdk.spec-grpc"/>
        <module name="io.smallrye.reactive.mutiny.zero"/>
        <module name="org.slf4j"/>
    </dependencies>
</module>
