name: Maven

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
  merge_group:
    types:
      - checks_requested

permissions:
  contents: read

jobs:
  build-and-test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os:
          - ubuntu-latest
        java:
          - 17

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Checkout wildfly-grpc-feature-pack
        uses: actions/checkout@v4
        with:
          repository: rhusar/wildfly-grpc-feature-pack
          path: wildfly-grpc-feature-pack

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ matrix.java }}
          cache: maven

      - name: Build wildfly-grpc-feature-pack with Maven, skipping tests
        working-directory: wildfly-grpc-feature-pack
        run: mvn -B -ntp install -DskipTests

      - name: Build and Test with Maven
        run: mvn -B -ntp install

      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: ${{ matrix.os }}-${{ matrix.java }}-test-reports
          path: |
            **/surefire-reports/*
            **/failsafe-reports/*
