name: Maven

on:
  schedule:
    - cron: '0 6 * * *'
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'
  merge_group:
    types:
      - checks_requested

permissions:
  contents: read

jobs:
  build-and-test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os:
          - ubuntu-latest
        java:
          - 17

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: ${{ matrix.java }}
          cache: maven

      # Temporarily use 'main' branch of grpc FP which has the required fixes
      - name: Checkout wildfly-grpc-feature-pack
        uses: actions/checkout@v6
        with:
          repository: wildfly-extras/wildfly-grpc-feature-pack
          path: wildfly-grpc-feature-pack
      - name: Build wildfly-grpc-feature-pack
        working-directory: wildfly-grpc-feature-pack
        run: ./mvnw -B -ntp install -DskipTests

      - name: Build and Test with Maven
        run: ./mvnw -B -ntp install

      - uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: ${{ matrix.os }}-${{ matrix.java }}-test-reports
          path: |
            **/surefire-reports/*
            **/failsafe-reports/*
